* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 80px;
  background-color: rgb(243, 239, 239);
  opacity: 0.7;
  .contents-box {
    display: flex;
    justify-content: space-between;
    &__name {
      padding-top: 17px;
      padding-left: 10px;
      font-size: 36px;
    }
    &__menu {
      &--logout {
        padding-top: 25px;
        padding-right: 10px;
        a{
          font-size: 14px;
          color: black;
          border: solid 3px rgb(182, 153, 153);
          border-radius: 10px;
          text-decoration: none;
        }
      }
    }
  }
}

.main {
  width: 100%;
  height: calc(100vh - 180px);
  display: flex;
  .left {
    width: 200px;
    height: calc(100vh - 180px);
    background-color: rgb(231, 219, 219);
    .category-box {
      &__title {
        padding-top: 20px;
        padding-left: 20px;
        font-size: 18px;
      }
    }
  }
  .center {
    width: 100%;
    height: calc(100vh - 180px);
    background-color: rgb(190, 158, 158);
    .talk-box {
      padding-top: 10px;
      padding-left: 10px;
    }
  }
}

.footer {
  width: 100%;
  height: 100px;
  background-color: rgb(238, 190, 190);
  opacity: 0.7;
  padding-top: 15px;
  padding-left: 30px;
  display: flex;
  .post-box {
    width: 1080px;
    height: 50px;
    background-color: white;
    margin-top: 15px;
    margin-left: 40px;
  }
}